/* CSS Document */
header,body,a,ul,li,h1,h2,h3,h4,h5,h6,p,div,span,section,header{
	margin:0;
	padding:0;	
}
body{
	background: #f2f9fe;
	height:100%;
	width:100%;
}
header{
	height:50px;
	width:100%;
	background:rgba(0,255,255, 0.4);	
	box-shadow: 0 5px 1px 0 rgba(0, 0, 0, 0.3);
}
#cPanel{
	height:100%;
	min-height:200px;
	width:250px;
	background-color:#FFF;
	position:fixed;
	right:0;
	bottom:0;
	box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.05);
}
#cHead{
	width:100%;
	text-align:center;
	background-color:#a6ffa6;
	height:40px;
	padding-top:10px;
}
#cHead select{
	background-color:inherit;
	border:1px solid #a0ffa0;
	border-radius:5px;	
}
#cHead select:children{
	background-color:inherit;
}
#cHeadMain{
	width:50%;
	float:left;
}
#status{
	width:50%;	
	float:left;
}
#chatRoom{
	margin:10px auto;
	padding:10px;
	width:720px;
	height:520px;
	background:rgba(0,255,255, 0.4);	
	box-shadow: 5px 5px 1px 0 rgba(0, 0, 0, 0.3);

}
#crHead{
	height:10%;	
	width:100%;
	color:#090;
	text-align:center;
	font-size:24px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
#crClose{
	width:2%;
	float:right;
	margin:5px;	
}
#crClose a{
	display:block;
	text-align:center;
	color:#9c9c9c;
	font-size:16px;
	border:1px outset #c9c9c9;
	text-decoration:none;
	line-height:100%;
}
#crClose a:hover{
	color:#000;
	background:#fff;
}
#crBody{
	height:70%;
	width:98%;
	background:#fff;
	border:1px solid #00ffcc;
	padding:1%;
	text-overflow:ellipsis;
	overflow:auto;
	overflow-style:marquee-line;
}
#crType{
	height:3%;	
	width:100%;
}
#typeWide{
	width:90%;
	margin:4%;
	height:90%;
	border:1px solid #a6ffa6;
	background:#fff;
	padding:1%;
		
}
#crBase{
	height:10%;	
	width:100%;
}
.cBodyMain{
	min-height:300px;
	width:100%;
}
#roomChats a span:not(.roomname){
	float:right;
	font-style:italic;
	font-size:12px;
	color:#CCC;	
}
.infoBlock{
	border:1px solid #deffed;
	line-height:30px;
	text-align:center;
	width:100%;	
	margin-bottom:5px;
}
.infoBlock a{
	background:#effffe;
	height:30px;
}
.infoBlock a span{
	margin-left:10px;
	float:left;	
}
#cBase{
	
}
#startChat,#resumeChat{
	position:fixed;
	bottom:0;
	right:0;
	height:20px;
	width:150px;
	text-align:center;
	background-color:#a6ffa6;
	box-shadow: 0 0 4px 3px rgba(10, 20, 30, 0.1);
}
#cBase{
	position:absolute;
	bottom:0;
	width:100%;
}
.cBodyMain ul{
	margin-left:10px;	
}
.cBodyMain li{
	list-style:none;
	margin:5px;
}
.cBodyMain li a{
	border-radius:none;
	padding-left:10px;
	height:25px;
	line-height:25px;
	text-align:left;
	text-decoration:none;
	display:block;
	border-bottom:1px solid #a9ffa9;
	background:none;	
}
.notice{
	font-style:italic;	
}
.chatSelect{
	width:50%;
	float:left;
	clear:none;
}
a.block{
	height:100%;
	width:100%;
	display:block;
	text-decoration:none;
	text-align:center;	
}
.usermenu{
	font-size:12px;
	font-family:'helvetica';
	width:200px;
	position:absolute;
	background:#affffa;	
}
.usermenu a{
	border:none;
}
.chatActive{
	position:fixed;
	bottom:0;
	width:20%;
	min-width:100px;
	background-color:#a6ffa6;
	height:300px;
}
.chatActiveHead{
	
}
.chatActiveBody{
	
}
.chatActiveBase{
	
}
.active{
	box-shadow: 1px 0 0 1px rgba(0, 0, 33, 0.1);
}
.inactive{
	box-shadow: 1px 0 0 1px rgba(0, 0, 33, 0.1);
	background-color:#a3dda3;	
}
/*room history styles*/
.defaultMsg{
	font-size:12px;
	color:#adccad;
	font-family:'segoe';
}
.errorMsg{
	font-size:12px;
	color:#ff2211;
}
.chatMsg{
	font-size:14px;
	color:#300;
}